<h1>test</h1>
<table>
    <tr>
    <th>İsim</th>
    <th>Soyisim</th>
    </tr>
    <tr>
        <td>Taha</td>
        <td>Öztürk</td>
    </tr>
    <tr>
         <td>Buğra</td>
        <td>Avcı</td>
    </tr>
    <tr>    
         <td>Ali</td>
        <td>Can</td>
    </tr>
   
  
</table>