@model List<Category>
<table class="table table-bordered">
    <tr>
        <th>
            CategoryId
        </th>
        <th>
            CategoryName
        </th>
        <th>
            CategoryDescription
        </th>
        <th>
            CategoryStatus
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
            <td><a href='#' class="btn btn-warning">Detaylar</a></td>
            <td><a href='#' class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>